/*------------------ CSS - POEMAS DE NOS --------------------- */
* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0; 
  
}



/*----------------------- BODY ---------------------- */
body {
  font-family: 'Sorts Mill Goudy', serif;
  background-image: url('../img/fundo.jpg');
  background-size: 100%;
}
/*------------------ BREAK PAGE --------------------- */
 @media (min-width: 375px) {
  body {
    font-size: 12px;  
  }
 }
 @media (min-width: 600px) {
  body {
    font-size: 14px; 
  }
 }
 @media (min-width: 900px) {
  body {
    font-size: 14px; 
  }
 }



/*------------------ CONTAINER --------------------- */
.container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 7rem 2rem repeat(2,10fr) 2rem;
  column-gap: 0.5rem;
  row-gap: 0.3rem;
}

/*------------------ CAPA --------------------- */
.capa {  
  display: grid;
  text-align: center;
  grid-column: span 3;  
  grid-row: span 1; 
}
.titulo {
  padding-top: 1em;  
  padding-left: 0.6em;
  font-family: 'Marcellus', serif;
  transform: scale(0.2) translateX(-50vh);
  opacity: 0;
  animation: linear 2s animaTitulo forwards; /*forwards para voltar ao estado inicial*/
}
/*trigger para animacao do titulo*/
@keyframes animaTitulo{
  100%{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
/*------- BREAK PAGE ------- */
@media (min-width: 375px) {
  .title {    
    font-size: 2em;
    margin-top: 0.7em;
  }
 }
 @media (min-width: 600px) {
  .title {    
    font-size: 2em;
    margin-top: 0.8em;
  }
 }
 @media (min-width: 900px) {
  .title {    
    font-size: 3em;
    margin-top: 0em;
  }
 }
 .subtitle {
  font-style: italic;
  font-size: 1.2em;
 }
 .img-logo{
   width: 1.5fr;
   height: 7.3rem;   
 }

/*------------------ MENU --------------------- */
.menu {
  background-color: rgb(241, 180, 241);
  align-self: end stretch;
  grid-column: span 3;
  grid-row: span 1;
  text-align: center; 
  background-image: url('../img/verde.jpg');
  background-size: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none; 
}
.menu a {  
  display: block;
  padding: 0.5em 0.5em;
  color: black;
  text-decoration: none;
  transition: background-color 1s; /*tempo da mudança quando passa mouse em cima*/
}
/*hover quando o mouser passar em cima*/
.menu a:hover{
  background-color: rgb(175, 52, 175);
  text-shadow: 0em 0em 20px rgb(175, 52, 175);
  /*text-decoration: underline;*/
}



/*------------------ IMAGEM --------------------- */
.imagem {
  align-self: start stretch;
  grid-column: span 1;
  grid-row: span 2;
  margin-top: 3em;
  align-content: center;
}
@media (min-width: 375px) {
  .img-txt{
    width: 7rem;
    height: 12rem;   /*tamanho da linha + gap*/
  }
 }
@media (min-width: 600px) {
  .img-txt{
    width: 10rem;
    height: 15rem;   /*tamanho da linha + gap*/
  }
 }
 @media (min-width: 900px) {
  .img-txt{
    width:   15rem; 
    height: 20rem;   
  }
 }




/*------------------ TEXTO --------------------- */
.texto {
  grid-column: span 2;
  grid-row: span 2;
  text-align: center;
  align-content: center;
  margin-top: 3em;
}
.texto-subtitle {
  text-align: left;    
  padding-block-end: 3em;
}
.assinatura{
  text-align: right;
  margin-right: 2.5em;
}
@media (min-width: 375px) {
  .texto {
    padding-left: 2em;
  }
 }
@media (min-width: 600px) {
  .texto {
    padding-left: 2em;
  }
 }
 @media (min-width: 900px) {
  .texto {
    padding-left: 5em;
  }
 }




/*------------------ RODAPE --------------------- */
.rodape {
  min-width: 100%;
  display: block;
  align-self: stretch;
  grid-column: span 3;
  grid-row: span 1;
  font-size: 1.5em; 
  text-align: right;
  margin-right: 2em;
  background-image: url('../img/degrade.jpg');
  background-size: 100%;  
}
@media (min-width: 900px) {
  .rodape{
    font-size: 2em; 
  }
 }
.rodape a{  
  margin-left: 1.2em;  
  margin-right: 1.5em;
  margin-bottom: 0.1em;
  color: black;
  text-decoration: none;
  gap: 2em; 
  transition: text-shadow 1s;  
}
.rodape a:active, /*touch em cima via celualar*/
.rodape a:hover{  /*hover quando o mouser passar em cima*/
  background-color: rgb(32, 172, 172);
  text-shadow: 0em 0em 30px rgb(32, 172, 172); /*sombra que sinaliza que é clicavel*/
}


