@charset "UTF-8";

/***** CONFIGURACAO HOME *****/
 body {
    background-color: #ffffff;
    color: rgb(27, 25, 27); 
    font-family: Arial, sans-serif;
  }

/****************  BREAK PAGE ****************/
@media (min-width: 1000px) {
    body {
        resize: horizontal;
    }
   }
/********************************************************/


  div#interface {      
      width: 1000px;
      background-color: #ffffff;
      margin: -20px auto 0px auto;
      box-shadow: 0px 0px 10px rgba(0,0,0,.5);
      padding: 10px;
  }
  /*configuracao padrao*/
  h1 {
    font-size: 30pt;
    text-align: center;   
  }
  h2 {
    font-size: 20pt; 
    text-align: center;   
  }
  h3 {
    font-size: 12pt;
  }
  h4 {
    font-size: 8pt;
  }
  p {
    text-indent: 50px;
    text-align: center;  
  }
  /*titulo - logo -  menu*/
  header#cabecalho {
    position: fixed;
    border-bottom: 10px #992323 solid;
    height: 150px;
    display: flex;  
    background-color: white;  
    min-width:  1000px;    
  }      
  /*titulo e subtitulo*/
  header#cabecalho hgroup#titulo {      
    text-shadow: 1px 1px 1px rgba(0,0,0,.6); 
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    padding-left: 20px;    
}
/*Formatação do Menu*/
nav#menu {
    display: block;   
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
}
nav#menu li {
    background-color: pink;
    display: flex;
    align-items: stretch;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;       
}
nav#menu li:hover {
    background-color: #606060;
}
nav#menu h1 {
    display: none;      
}
nav#menu a {    
    color: #000000;
    text-decoration: none; 
}
nav#menu a:hover{
    color: #ffffff;
}




/********** CHAMADA DO HTML POEMA PRINCIPAL ************/
.corpo  {       
    min-width:  1000px;
    min-height: 800px;
    display: flex;
    align-items: justify;
    margin-top: 150px;
}
iframe#poema {
    min-height: 800px;
    min-width:  998px;
}
/*********************************************/






/** RETORNA PAGINA INICIAL **/
aside#volta a {
    float: right;
    text-decoration: none; 
    font-size: 12pt;
    color: #606060;
    padding-bottom: 10px;
}
aside#volta a:hover {
  text-decoration: underline;
}


/***** CONFIGURACAO RODAPE *****/
footer#rodape {
    clear: both;    
    border-top: 5px solid #992323;
    height: 90px;
}
footer#rodape h3 {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: right;
}
footer#rodape a {
    float: right;
    padding-right: 10px;
    font-size: 40px;
    color: rgb(145, 9, 72);  
    transition: background-color 1s;  
    text-decoration: none;  
}
footer#rodape a:hover {
    background-color: #ffffff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9); 
}
footer#rodape h4 {
    margin-top: 35px;
    float: left;
}


