/*------------------ CSS - POEMAS DE NOS --------------------- */
* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;  
  grid-template-rows: none;
  grid-template-columns: none;
  grid-template-areas: none;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  grid-column-gap: 0;
  grid-row-gap: 0;
  column-gap: normal;
  row-gap: normal;
}



/*----------------------- BODY ---------------------- */
body {
  font-family: 'Sorts Mill Goudy', serif;
  background-color: white;
  font-size: 14px;
}
/*------------------ BREAK PAGE --------------------- */
@media (min-width: 900px) {
  body {
    font-size: 16px;  
  }
 }
 @media (min-width: 600px) {
  body {
    font-size: 14px;  
  }
 }



/*------------------ CONTAINER --------------------- */
.container {
  display: grid;
  grid-template-columns: 1.5fr repeat(2, 2fr);
  grid-template-rows: 7rem 2rem repeat(2,10fr) 2rem;
  column-gap: 0.3rem;
  row-gap: 0.3rem;
}

/*------------------ LOGO --------------------- */
.logo {
   align-self: stretch;
   grid-column: span 1; 
   grid-row: span 1;   
   text-align: right;
  }
.img-logo{
  width: 1.5fr;
  height: 7.3rem;   /*tamanho da linha + gap*/
  align-content: center;
}



/*------------------ CAPA --------------------- */
.capa {
  align-self: start stretch;
  grid-column: span 2;  
  grid-row: span 1;     
  text-align: center;
  padding-top: 1em;  
  margin-right: 30em;
  transform: scale(0.2) translateX(-50vh);
  opacity: 0;
  animation: linear 2s animaTitulo forwards; /*forwards para voltar ao estado inicial*/
}
/*trigger para animacao do titulo*/
@keyframes animaTitulo{
  100%{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.title {
  font-family: 'Marcellus', serif;
  font-size: 3em;
}
.subtitle {
 font-style: italic;
}



/*------------------ MENU --------------------- */
.menu {
  background-color: rgb(241, 180, 241);
  align-self: end stretch;
  grid-column: span 3;
  grid-row: span 1;
  text-align: center;  
}
.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none; 
}
.menu a {  
  display: block;
  padding: 0.5em 0.5em;
  color: black;
  text-decoration: none;
  transition: background-color 1s; /*tempo da mudança quando passa mouse em cima*/
}
/*hover quando o mouser passar em cima*/
.menu a:hover{
  background-color: rgb(172, 32, 172);
  text-shadow: 0em 0em 20px rgb(172, 32, 172);
  /*text-decoration: underline;*/
}



/*------------------ IMAGEM --------------------- */
.imagem {
  align-self: start stretch;
  grid-column: span 1;
  grid-row: span 2;
  margin-top: 3em;
}
.img-txt{
  width: 1.5fr;
  height: 35rem;   /*tamanho da linha + gap*/
  align-content: center;
}



/*------------------ TEXTO --------------------- */
.texto {
  align-self: start stretch;
  grid-column: span 2;
  grid-row: span 2;
  text-align: center;
  margin-top: 3em;
  padding-left: 15em;;
}
.texto-subtitle {
  text-align: left;    
  padding-block-end: 3em;
}
.assinatura{
  text-align: right;
  margin-right: 2em;
}



/*------------------ RODAPE --------------------- */
.rodape {
  align-self: stretch;
  grid-column: span 3;
  grid-row: span 1;
  font-size: 1.5em; 
  text-align: right;
  margin-right: 2em;
}
.rodape a{  
  margin-left: 1.2em;  
  margin-bottom: 0.1em;
  color: black;
  text-decoration: none;
  gap: 2em; 
  transition: text-shadow 1s;  
}
.rodape a:active, /*touch em cima via celualar*/
.rodape a:hover{  /*hover quando o mouser passar em cima*/
  background-color: rgb(241, 180, 241);
  text-shadow: 0em 0em 30px rgb(172, 32, 172); /*sombra que sinaliza que é clicavel*/
}


